// _variables.scss内の変数を定義
$font-family-base: "Raleway", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-size-base: 0.875rem;
$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;
$link-hover-decoration: none;
