@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import "bootstrap";

/* 基本設定 ここから↓ */
body {
  letter-spacing: .1rem;
  // animation: pulse 40s infinite alternate;
  // @keyframes pulse {
  //   0% {background-color: #fecd6d;}
  //   25% {background-color: #ef7b88;}
  //   50% {background-color: #acdacf;}
  //   75% {background-color: #87c3db;}
  //   100% {background-color: #fecd6d;}
  // }
  background: linear-gradient(270deg, #cd5c5c, #8fbc8f, #4682b4, #f0e68c);
  background-size: 800% 800%;
  animation: AnimationName 30s ease infinite;
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}
main {
  background-color: whitesmoke;
}
section h2 {
  border-left: 7px solid #cd5c5c;
  padding-left: 7px;
}
aside h2 {
  font-size: 1.1rem;
  background-color: #cd5c5c;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  color: $link-color;
  &:hover {color: $link-hover-color;}
}
.global-footer {
  background-color: #f8f9fa;
    p {text-align: center;}
}
.btn {
  font-size: .9rem;
  font-weight: 600;
  border-width: 1.5px;
}
.btn-block {
  font-size: 1.1rem;
}
.card-body {
  p:nth-of-type(2) {
    line-height: 1.5;
    letter-spacing: 0rem;
  }
}
#backbtn {
  width: 52px;
  height: 52px;
  position: fixed;
  right: 26px;
  bottom: 26px;
}
/* 基本設定 ここまで↑ */

/* 基本レイアウト ここから↓ */
.container-fluid {
  max-width: 1140px;
}
.global-header {
  height: 224px;
  h1 {
    height: 140px;
    padding-top: 84px;
    text-align: center;
  }
  .nav-link {
    &::after {
      display: block;
      content: "";
      border-bottom: 1px solid #fff;
      position: relative;
      bottom: 0;
      margin: 0 auto;
      width: 0;
      transition: width 300ms ease-in-out;
    }
    &:hover::after {
      width: 100%;
    }
  }
}
/* 基本レイアウト ここまで↑ */

/* トップページ ここから↓ */
/* .hero {
  width: 1280px;
  margin: 0 auto;
} */
/* トップページ ここまで↑ */

/* このサイトについて ここから↓ */
/* このサイトについて ここまで↑ */
